/*POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*PALAVRA RESPONSIVA SEM QUEBRA DE LINHA*/
.main-title-B {
    font-family: 'Poppins', sans-serif;
    color: #ffc800;
    letter-spacing: 5px;
    z-index: 3;
    white-space: normal; /* permite quebra */
    word-break: normal;  /* NÃO quebra dentro da palavra */
    overflow-wrap: break-word; /* quebra só entre palavras */
    font-size: 8vw; /* Responsivo baseado na largura da tela */
    margin: 20px 0;
}

/*TEXTO ABAIXO RESPONSIVO*/
.txt{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 10px 0;
    padding: 1em;
    
}

/*DESING IMAGEM*/
.img-informativo-site {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  border-radius: 2px solid #ffc800; /* borda amarela */
  margin-block: 2vh; /* espaçamento vertical */ 
    
    
}

.img-fluid{
    border-radius: 10px ; /* borda amarela */
    border: #ffc800 solid 2px; /* borda amarela */  
    
    
}
.artigos {
  color: #FFC700;
  font-size: 17px;
  font-family: poppins, sans-serif;
  line-height: 1.5;
}

.artigos a {
  color: #FFC700;
  font-size: 17px;
  text-decoration: none;
}

.artigo-subtopico {
  font-size: 0.9rem;
  color: #ffc700;
}


[id] {
  scroll-margin-top: 100px;
}



.span-yellow{
    color: #ffc800;
    font-weight: bold;
    text-decoration: #FFC700;
    text
}


/* Telas muito grandes (ex: desktop wide) */
@media (min-width: 1400px){
    .main-title-B {
        font-size: 100px;
    }
}

/* Telas médias (ex: tablets) */
@media (max-width: 768px) {
    .main-title-B {
        font-size: 10vw;
        letter-spacing: 2px;
    }
}

/* Telas pequenas (ex: celular) */
@media (max-width: 480px) {
    .main-title-B {
        font-size: 12vw;
        letter-spacing: 1px;
    }
}

@media (min-width: 768px) {
    .container-desastre {
        margin-left: 3rem; /* tablets pra cima */
    }

    .txt-titulo-desastres {
        color: #ffc800; /* amarelo */
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        margin-block: 4vh;
    }

    .txt-respostas {
        font-size: 1.5rem;
        line-height: 1.6;
        max-width: 900px;
        text-align: justify;
        color: #ffffff;
        margin-left: 10px;
        margin-right: 10px;
    }

    .txt-titulo-desastres{
        color: #ffc800; /* amarelo */
        font-size: 2.4rem; /* ajustável conforme preferência */
        text-align: center;
        font-weight: bold;
        font-family: poppins;
        margin-block: 4vh;
    }
}

@media (min-width: 1200px) {
    .container-desastre {
        margin-left: 5rem; /* telas grandes */
    }
}



.resumo{
    color: #ffc800;
   
}

.txt-titulo-desmatamento{
    color: #ffc800; /* amarelo */
    font-size: 1.7rem; /* ajustável conforme preferência */
    text-align: center;
    font-weight: bold;
    font-family: poppins;
    margin-block: 4vh;
    margin-left: 20PX;
}