/*POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{

  --amarelo: #ffc800;
  --preto: #050506;
  --branco: #ffffff;
  --cinza: #525252;
}
/* Estilo da barra de rolagem para WebKit browsers */
::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}

::-webkit-scrollbar-track {
  
}

::-webkit-scrollbar-thumb {
background: var(--amarelo);

}

::-webkit-scrollbar-corner {
  border-radius: 10px;
 
}


body{
    overflow-x: hidden; /* Evita rolagem horizontal */
      background-color: var(--preto) !important;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Garante que o body ocupe a altura total da viewport */
      margin: 0; /* Remove margens padrão */
      --default-blue-stroke: #4CAF50;
      --default-grey-black-fill: #525252;
      --default-strok: rgb(141, 141, 141);
  }


.navbar{

  height: 60px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove delay de animação */
}
.dropdown-item{
  font-family: poppins;
  color: var(--amarelo) !important;
}

 .dropdown-item:hover{
  background-color: var(--amarelo) !important;
  color: var(--preto) !important;

}

.navbar, .nav-link {
  background-color: transparent !important;
  transition: background-color 0.3s ease;

}

/*DROPDOWN TRANSPARENTE */
.navbar.navbar-transparent .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.7); /* meio transparente */
  color: #fff;
}
/*DROPDOWN PRETO */
.navbar .dropdown-menu {
  background-color: var(--preto); /* ou var(--preto) se quiser seguir a navbar escura */
  color: #000;
}

/*NAVBAR TRANSPARENTE */
.navbar.navbar-transparent  {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}
/*NAVBAR PRETA */
.navbar {
  transition: background-color 0.3s ease;
  background-color: var(--preto) !important;
}


/*FINAL NAVBAR*/
/* IMAGEM TOPO DO SITE --------------------------------------------------------------------------------------*/
.img-principal-div {
  position: relative;
  overflow-x: hidden; /* Evita rolagem horizontal */
  width: 100vw;  /* Largura da viewport */
  height: 100vh; /* Altura da viewport */
}

/* Imagem principal com o degradê */
.img-principal-div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(5, 5, 6, 0.3), var(--preto)); /* Degradê mais escuro */
  z-index: 1; /* Coloca o degradê acima da imagem */
}

.img-principal {
  width: 100vw;  /* Largura total da viewport */
  height: 100vh; /* Altura total da viewport */
  object-fit: cover; /* Garante que a imagem cubra toda a área */
  display: block;
  position: relative;
  z-index: 0; /* Coloca a imagem abaixo do degradê */
}

/* Texto sobreposto na imagem */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--amarelo); /* Cor amarela */
  text-align: center;
  z-index: 2; /* Garante que o texto esteja acima do degradê */
  cursor: default;
}

/* Título principal */
.main-title {
  font-size: 150px;
  font-family: 'Poppins', sans-serif;
  color: var(--amarelo); /* Cor amarela */
  letter-spacing: 20px;
  white-space: nowrap;
  z-index: 3; /* Garantir que o texto esteja acima de todos */
}

/* Subtítulo */
.subtitle {
  z-index: 3; /* Garantir que o texto esteja acima de todos */
  font-size: 25 px;
  letter-spacing: 10px;
  color: var(--amarelo); /* Cor amarela */
  font-family: 'Poppins', sans-serif;
}

/* IMAGEM TOPO DO SITE --------------------------------------------------------------------------------------*/

.nav-fixa{
  display: block;
}

section.topo-site {
  padding: 60px 0;
  background-color: var(--preto); /* exemplo de fundo */
}

.txt-topo-site h1 {
  font-family: Poppins, sans-serif;
  color: #FFC700;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 20px;
}

.txt-topo-site p {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.btn-nos {
  padding: 12px 30px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  background-color: #FFC700 !important;
  border: none !important;
  border-radius: 30px !important;
  transition: 0.3s ease !important;
  font-family: poppins;
  align-items: center !important;
}

.btn-nos:hover {
  background-color: #ffffff !important;
  color: #000 !important
}

/* Imagem com efeito flutuar */
.img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  max-width: 100%;
  height: auto;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

.env-text {
  font-size: 2rem; /* tamanho padrão */
  transition: font-size 0.3s ease;
}

@media (max-width: 768px) {
  .env-text {
    font-size: 1.2rem; /* menor no mobile */
  }
}


/* Container do texto digitando */
.container.titulo-home {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 20px;
}

.container .text {
  position: relative;
  color: #FFC700;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

.container .text.first-text {
  color: #FFF;
  padding-right: 10px;
}

.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--preto);
  border-left: 2px solid var(--amarelo);
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%, 60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

/*CARROSEL*/
.section-aprenda-mais {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 0 5%;
  font-family: 'Poppins', sans-serif;
}

.tittle-home {
  color: var(--amarelo);
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
  cursor: default;
}

.slidermais {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  user-select: none;
  gap: 5vw;
  width: 330vw; /* Garante espaço pra 3 slides */
  transition: transform 0.3s ease;
}

.slide-mais {
  flex: 0 0 100vw; /* Cada card ocupa 90% da largura da tela */
  max-width: 90vw;
  height: 500px;
  position: relative;
}




.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.slide-mais:hover img {
  filter: blur(4px);
}

.text-aprenda-mais {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

.text-aprenda-mais h2 {
  font-size: 20rem;
}

.text-aprenda-mais a {
 
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 3rem;
  font-family: poppins;
}

.text-aprenda-mais a:hover {
  color: var(--amarelo);
}



@media (max-width: 768px) {
  .slide-mais {
    flex: 0 0 80vw;
  }

  .tittle-home {
    font-size: 24px;
  }

  .text-aprenda-mais h2 {
    font-size: 1.5rem;
  }

  .text-aprenda-mais a {
 
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 2rem;
    font-family: poppins;
  }
}

/* QUIZ */
.quiz {
  background-color: #fff;
  min-height: 100vh; /* altura mínima, expande conforme necessário */
  padding-top: 60px;

}

.titulo-quiz {
  color: #000;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  cursor: default;
  font-family: 'Poppins', sans-serif;
}

.txt-quiz {
  text-align: justify;
  color: var(--preto);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 60px;
}

.btn-quiz {
  background-color: var(--amarelo);
  color: #000000;
  padding: 0.6em 1.5em;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  white-space: nowrap;
}


.btn-quiz:hover {
  background-color: #000000;
  color: var(--branco)
}

/* Responsividade */
@media (max-width: 768px) {
  .btn-quiz,
  .btn-videoaula {
    font-size: 0.9rem;
    padding: 0.5em 1.2em;
  }

  .titulo-quiz {
    font-size: 30px;
  }

  .txt-quiz {
    font-size: 14px;
    margin-inline: 10px;
  }
}

@media (max-width: 480px) {
  .btn-quiz,
  .btn-videoaula {
    font-size: 0.85rem;
    padding: 0.4em 1em;
  }
}
/*videoaula*/

.btn-videoaula {
  background-color: var(--amarelo);
  color: #000000;
  padding: 0.6em 1.5em;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  white-space: nowrap;
}

.btn-videoaula:hover {
  background-color: var(--branco)
  color: #c59a00;
}

.videoaula {
  background-color: var(--preto);
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo-videoaula {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  cursor: default;
  font-family: 'Poppins', sans-serif;
}

.txt-videoaula {
  text-align: justify;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .titulo-videoaula {
    font-size: 30px;
  }

  .txt-videoaula {
    font-size: 14px;
    margin-inline: 10px;
  }
}

/*MAPA*/


.highlight-title {
  color: var(--amarelo); /* Amarelo vibrante */
  font-weight: 700;
  font-family: poppins;
}

.btn-yellow {
  background-color: var(--amarelo) !important;
  color: #000;
  font-weight: 600;
  border-radius: 25px;
  padding: 10px 30px;
  transition: all 0.3s ease;
}

.btn-yellow:hover {
  background-color: #e6b800;
  color: #000;
}

.video-box {

  
  padding: 10px;
  border-radius: 10px;
  height: 430;
  
}

.custom-title {
  font-size: 2.5rem;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .custom-title {
    font-size: 1.8rem;
  }
}

.txt-mapa{

  color: var(--branco)
  text-align: justify;
}
